In [1]:
import numpy as np
import pandas as pd

from sklearn import preprocessing

In [2]:
NBA_FILE_PATH = 'C:/Users/USER/Desktop/김주호/코딩/Python/2. Machine Learning/NBA_player_of_the_week.csv'
nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)                        #파일 불러오기

In [3]:
nba_player_of_the_week_df.head() #데이터 잘 지정 되었는지 확인

,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Pre-draft Team,Real_value,Height CM,Weight KG,Last Season
0,Jayson Tatum,Boston Celtics,East,"Feb 10, 2020",SF,6'8,208,21,2017,2,2019-2020,2020,Duke,0.5,203,94,1
1,Nikola Jokic,Denver Nuggets,West,"Feb 10, 2020",C,7'0,250,25,2014,4,2019-2020,2020,KK Mega Bemax (Serbia),0.5,213,113,1
2,Jaylen Brown,Boston Celtics,East,"Feb 3, 2020",SF,6'7,220,23,2016,3,2019-2020,2020,California,0.5,201,99,1
3,Damian Lillard,Portland Trail Blazers,West,"Feb 3, 2020",G,6'3,195,29,2012,7,2019-2020,2020,Weber State,0.5,190,88,1
4,Pascal Siakam,Toronto Raptors,East,"Jan 27, 2020",F,6'9,230,25,2016,3,2019-2020,2020,New Mexico State,0.5,206,104,1

In [4]:
nba_player_of_the_week_df.describe()   #간단한 통계를 확인해보자

,Weight,Age,Draft Year,Seasons in league,Season short,Real_value,Height CM,Weight KG,Last Season
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,224.567164,26.738060,1996.287313,5.740299,2003.156716,0.686940,201.071642,101.384328,0.023881
std,30.798885,3.400683,11.253558,3.293421,11.470164,0.242007,9.367970,14.011226,0.152734
min,150.000000,19.000000,1965.000000,0.000000,1980.000000,0.500000,175.000000,68.000000,0.000000
25%,205.000000,24.000000,1987.000000,3.000000,1994.000000,0.500000,193.000000,93.000000,0.000000
50%,220.000000,26.000000,1998.000000,5.000000,2005.000000,0.500000,201.000000,99.000000,0.000000
75%,250.000000,29.000000,2005.000000,8.000000,2013.000000,1.000000,208.000000,113.000000,0.000000
max,325.000000,40.000000,2018.000000,17.000000,2020.000000,1.000000,229.000000,147.000000,1.000000

In [5]:
height_weight_age_df = nba_player_of_the_week_df[['Height CM','Weight KG','Age']]   # [하고 column지정 위해 또 []넣기]
height_weight_age_df.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

In [6]:
scaler = preprocessing.MinMaxScaler()     # preprocessing의 한 방법인 MinMaxScaler를 설정

In [7]:
normalized_data = scaler.fit_transform(height_weight_age_df)   #Normalize 시키기
normalized_data

array([[0.51851852, 0.32911392, 0.0952381 ],
       [0.7037037 , 0.56962025, 0.28571429],
       [0.48148148, 0.39240506, 0.19047619],
       ...,
       [0.48148148, 0.37974684, 0.23809524],
       [0.38888889, 0.21518987, 0.23809524],
       [0.42592593, 0.27848101, 0.52380952]])

In [8]:
normalized_df = pd.DataFrame(normalized_data, columns=['Height', 'Weight', 'Age'])
normalized_df.describe()    # 키, 몸무게, 나이를 정규화한 데이터를 표로 만들고 이들의 통계적 수치들을 표현

            Height       Weight          Age
count  1340.000000  1340.000000  1340.000000
mean      0.482808     0.422586     0.368479
std       0.173481     0.177357     0.161937
min       0.000000     0.000000     0.000000
25%       0.333333     0.316456     0.238095
50%       0.481481     0.392405     0.333333
75%       0.611111     0.569620     0.476190
max       1.000000     1.000000     1.000000